<section>
  <div class="container">
    <div class="about">
      <div class="about-details" appFade="up" [delay]="200">
        <h2>About Me</h2>
        <h3 class="subtitle">An enthusiastic Web Developer based in North Carolina</h3>
        <p class="first-desc">Experienced Web Developer with 4+ years of expertise in full-stack development, web design, and the maintenance of digital properties.

          Specialized in ensuring high-quality user interfaces, secure coding practices, and system stability for scalable web applications.</p>
      </div>
    </div>
  </div>
</section>
