<section class="section">
  <div class="container">
    <div class="section-info">
      <h2>Publication</h2>
      <p>
        Researched on the concepts of traffic sign image recognition using CNN and Deep Learning on the
        <a href="https://www.ijltemas.in/DigitalLibrary/Vol.10Issue12/21-25.pdf" target="_blank" rel="noopener noreferrer">
          International Journal of Latest Technology in Engineering, Management & Applied Science
        </a>
        <br>  - Dec 2021, vol.X issue.XII
      </p>
    </div>
  </div>
</section>

