<section>
  <div class="container">
    <div class="services-title">
      <h2>Improving applications powered by </h2>
      <p>Html, CSS, Java Script, My SQL, </p>
    </div>
    <div class="services">
      <div class="services-card" appFade="left">
        <h3 class="services-card-subtitle">App Development</h3>
        <h3 class="services-card-title">Web Design </h3>
      </div>
      <div class="services-card" appFade="left" [delay]="200">
        <h3 class="services-card-subtitle">Tech Support</h3>
        <h3 class="services-card-title">Office & computing devices</h3>
      </div>
    </div>
  </div>
</section>
